<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939732836583-98ufephpr85cf8e3g8hn7kluq9j5p543.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939732836583-98ufephpr85cf8e3g8hn7kluq9j5p543</string>
	<key>API_KEY</key>
	<string>AIzaSyAWhxbhRG7vb-dOeupfOFa31cLSyecXZ-o</string>
	<key>GCM_SENDER_ID</key>
	<string>939732836583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.conntower.conningTower</string>
	<key>PROJECT_ID</key>
	<string>conningtower-1</string>
	<key>STORAGE_BUCKET</key>
	<string>conningtower-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939732836583:ios:caa20e1f07b7f34c0c8242</string>
</dict>
</plist>